@media (max-width: 1024px) {
  #addnewtodo {
    width: 80%;
  }
  #todoscontainer {
    width: 80%;
  }
}
@media (max-width: 600px) {
  header {
    img {
      width: 150px;
      height: 150px;
    }
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  #addnewtodo {
    width: 90%;
  }
  #todoscontainer {
    width: 90%;
  }
  footer {
    font-size: 0.8rem;
  }
}
